@import url("https://fonts.googleapis.com/css2?family=Anton&family=Smooch+Sans:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Edu+TAS+Beginner:wght@500&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Edu+TAS+Beginner:wght@500&family=Quicksand:wght@300&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background: #020202;
  font-family: "Abel", sans-serif !important;
  font-family: "Edu TAS Beginner", cursive !important;
  font-family: "Quicksand", sans-serif !important;
  letter-spacing: 0.5px;
  line-height: 0.5px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*,
a {
  color: #ffffff;
  transition: 500ms;
}
h1,
h2,
h3,
h4 {
  font-family: "Abel", sans-serif;
  font-family: "Edu TAS Beginner", cursive;
  font-family: "Quicksand", sans-serif;
}
p {
  font-weight: 10;
  color: #f8f8ff;
  line-height: 0.4px;
}

#container {

  margin-top: 3rem;
  margin-bottom: 1rem;


}
.sub-title-container {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#container h1 {
 color:white;
}
#container p {
  padding: 0.5rem;
}

/*CSS for projects section on home page*/
.box {
  width: 300px;
  height: 280px;
  background: #0e0e0ea6;
  box-sizing: border-box;

  color: white;
  padding: 20px;
  margin: 1rem;
  --borderWidth: 10px;

  position: relative;
  border-radius: var(--borderWidth);
  transition: transform 0.3s;
  align-items: center;
  transition: 400ms;
  border: 1.5px solid transparent;
}

.see-more-box {
  --borderWidth: 10px;
  height: 75px;
  background: #0e0e0ea6;
  box-sizing: border-box;

  color: white;
  padding: 10px;
  margin: 1rem;
  position: relative;
  border-radius: var(--borderWidth);
  transition: transform 0.3s;
  align-items: center;
}

.project-showcase-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 340px;
  overflow-y: scroll;
  width: 700px;
  MARGIN:AUto;
  margin-top: 1.5rem;

  
}
/* overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;*/

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.slide {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.slide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}

.slide div {
  transition: transform 0.8s;
}

.slide:hover div {
  transform: translateX(-6px);
}

.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}
/* End of Slide Button  */

p {
  line-height: 1.4rem;
}

.project-date {
  color: #7a7a7a;
  font-size: 13px;
  margin-right:14px;
}
.github {
  margin-left:5px;
}

/* */

a {
  text-decoration: none;
}
.blog-posts-wrap {
  width: 80%;

  overflow-x: hidden;
  overflow-y: scroll;
  margin:auto !important;

  white-space: nowrap;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 300px;
  overflow-y: scroll;
  width: 700px;
  MARGIN:AUto;
  margin-top: 1.5rem;
}

.post-link {
  margin: 20px 20px 20px 20px;
}

.post-wrap {
  width: 500px;
  background: #0e0e0ea6;
  transition: all 0.25s;
  top: 0;
  border-radius: 10px;
  overflow: hidden;

  text-align: center;
  margin: 1rem;
  border: 1.5px solid transparent;
}

.post-wrap:hover {
  top: 30px;
  transform: scale(1.037);
  transition-duration: 0.5s;
  -webkit-box-shadow: 5px 5px 50px 1px rgba(119, 119, 119, 0.27);
  box-shadow: 5px 5px 50px 1px rgba(119, 119, 119, 0.27);
}

.post-image {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.post-body {
  padding: 10px;
  margin: 0 auto;
}

.post-body-primary {
  margin: 40px 0 40px 0;
}

.post-meta {
  color: #1c2333 !important;
}

.post-meta b {
  font-weight: 500;
}

.post-title {
  color: #444;
}

.post-text {
  color: #7b7b7b;
}

.post-body-secondary {
  border-top: 1px solid #ececec;
}

/*BLOG CSS FOR POSTS*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
* {
  line-height: 140%;
}
body,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
  color: #cccccc;
}

mark {
  background-color: black;
  padding: 0px 3px;
}

.wrapper {
  padding: 100px;
  margin: 0 0 50px 0;
  text-align: left;
  height: 40vh;
  /*background: url('https://cutewallpaper.org/21/cool-coding-backgrounds/Computer-Programming-Background-Quantum-Computing.png') no-repeat center center fixed;*/
  background-size: cover;
  transition: all 0.4s ease;
  opacity: 0.8;
}
.wrapperRight {
  padding: 100px;
  margin: 0 0 50px 0;
  text-align: right;
  height: 40vh;
  /*background: url('https://cutewallpaper.org/21/cool-coding-backgrounds/Computer-Programming-Background-Quantum-Computing.png') no-repeat center center fixed;*/
  background-size: cover;
  transition: all 0.4s ease;
  opacity: 0.8;
}
.articleText {
  margin: 0 10% 30px 20%;
  width: 60%;
  max-width: 800px;
  padding-left: 30px;
  color: #606060;
  border-left: 1px solid #d6d6d6;

  transition: all 0.4s ease;
}
.introduction {
  margin-bottom: 20px;
}
.accountInfo {
  transition: all ease 0.5s;
  display: none;
  height: 420px;
  width: 250px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.accountInfo .header {
  background: url("https://source.unsplash.com/V6s1cmE39XM/250x250") no-repeat;
  height: 120px;
  width: 100%;
  padding: 20px 10px;
}

.accountInfo .profileText {
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  /* For tablets: */
  .articleText {
    margin: 0 10% 30px 10%;
    width: 80%;
    max-width: 800px;
    padding-left: 0px;
    border: 0;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .articleText {
    margin: 0 5% 30px 5%;
    width: 90%;
  }
  .wrapper {
    padding: 5%;
  }
}
/*END BLOG CSS*/

/*Contact Email button CSS*/

a:hover i {
  transform: scale(2);
  color: #fff;
}

.highlighted {
  color: #3a88fe;
}

.social-icon {
  padding: 10px;
  margin: 5px;
  transition-duration: 0.14s;
  transition: 300ms;
  border-radius: 20px;
  border: 3.5px solid transparent;
}

.social-icon:hover {

  transform: scale(1.1);
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 50px 1px rgba(119, 119, 119, 0.27);
  box-shadow: 5px 5px 50px 1px rgba(119, 119, 119, 0.27);

}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;

  background-color: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.footer-text {
  margin-top: 3.5rem;
  font-size: 1.2rem;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
} 
.website-button {
  background-color: #121212;
  padding: 5px 5px 3px 5px !important;
  border-radius: 12px;
  margin-top: 0.5rem;
  transition: 400ms;
  color: #B3C0FF
}
.project-descriptions {
  margin-bottom: 0.8rem;
}
.website-button:hover {
  color: #c2efee;
  background-color: #182545;
}
.blog-image {
  max-width: 500px;
}

.ebuy-coffee {
  margin: 1rem;
}
.my-resume {
  float: right;
  margin-right: 1rem;
  padding: 0;
  margin-top: 0.5rem;
}
.my-resume a {
  background-color: #4d798c;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  letter-spacing: 1.2px;
}

.box p {
  font-weight: 100;
}
.smallerwidth {
  width: 1000px;
  margin: auto;
}
.footer-left {
  float: left;
}
.footer-right {
  float: right;
}
.page-container {
  max-width: 1300px;
  margin: auto;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
footer p a {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  transition: 400ms;
}
footer p a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.sub-container-about {


  margin-top: 1rem;
  background-image: url('/imgs/background-towers.png');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.sub-container-about p {
  margin: 0 !important;
  padding: 0 !important;
}
.sub-container-about {
  padding: 1.2rem;
  display:flex;
  max-width:800px;
  margin:auto !important;
  border-radius:20px;
  
  height:300px;
}
.sub-container-about h2{
font-size: 2rem ;
font-weight:bold !important;
color:white !important;

}
.sub-container-about a{
  text-decoration: underline;
  transition:500ms;

}

.sub-container-about a:hover {
  text-decoration: none;
}
p {
  line-height: 1.5rem;
}
.big-font-weight-or-smth-idrk-lol {
  font-weight: bold !important;
}

.sub-text {
  font-size: 1.2rem;
}
.main-description-about {
  float:left;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -50%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.text-bg {
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin-top: 16%;

  
}

  * {
    scrollbar-width: thin;
    scrollbar-color: #650b2e;
  }

  
  *::-webkit-scrollbar {
    width: 1px;
  }


  *::-webkit-scrollbar-thumb {
    background-color: #e3b6c7;
    border-radius: 10px;

  }