@import url('https://fonts.googleapis.com/css2?family=Anton&family=Smooch+Sans:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
/*  background-color: #1b1b1b;
  background-color: #0F0F1E;*/
    background: rgb(1,7,24);
background: linear-gradient(90deg, rgba(1,7,24,1) 0%, rgba(6,20,54,1) 48%, rgba(5,16,36,1) 95%);
  font-family: 'Roboto Condensed', sans-serif;
 
}

*, *::before, *::after {
  box-sizing: inherit;
}

*, a {
  color: #ffffff;
  transition: 500ms;
}

#container {
  margin: 3rem 10rem;
  margin-bottom: 1rem;
  padding: 2em;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgba(186,15,131, 0.7);
box-shadow: 0 20px 50px #001e57;
}
.sub-title-container {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

}

@keyframes floating {
	0% { transform: translate(3, 0px); }
	50% { transform: translate(0, 3px); }
	100% { transform: translate(3, -0px); }
  
}



@media (max-width: 600px) {
  #container {
    margin: 1rem 2rem;
    padding: 1em;
      
  }
 
}
* {
  box-sizing: border-box;
}
img, a, h1, h2, p 	{

opacity: 0;
	transform: translateX(-200%);
	animation: slide-in-anim 1.2s ease-out forwards;
}
@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	25% {
		transform: translateX(-100%);
	}
    75% {
		transform: translateX(15%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}


/*CSS for projects section on home page*/
.box{
  width: 300px;
  height: 300px;
  background: #111845a6;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  color: white;
  padding: 20px;
  margin: 1rem;
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
   transition: transform .3s;
    align-items: center;
    transition: 400ms;
    
}
.enlarge:hover {
  transform: scale(1.022); 
  transition-duration: 0.5s;

}
.see-more-box {
  height: 75px;
  background: #111845a6;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  color: white;
  padding: 10px;
  margin: 1rem;
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
   transition: transform .3s;
 align-items: center;

}
.see-more-box:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
.box:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
.project-showcase-section {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.slide {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.slide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}

.slide div {
  transition: transform 0.8s;
}

.slide:hover div {
  transform: translateX(-6px);
}

.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}
/* End of Slide Button  */

p {
    line-height: 1.4rem;
}

.project-date {
    color: #7a7a7a;
    font-size: 13px;

}

/* */

a {
  text-decoration: none;
}
.blog-posts-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-link {
  margin: 20px 20px 20px 20px;
}

.post-wrap {
  width: 400px;
  background-color: #232323;
  -webkit-box-shadow: 6px 5px 43px -22px #ad3e00; 
box-shadow: 6px 5px 43px -30px #d95000;
  transition: all .25s;
  top: 0;
  border-radius: 10px;
  overflow: hidden;
}

.post-wrap:hover {
  top: 30px;
  transform: scale(1.08); 
  transition-duration: 0.5s;
  background-color: #393939;
}

.post-image {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.post-body {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
}

.post-body-primary {
  margin: 40px 0 40px 0;
}

.post-meta {
  color: #7B7B7B;
}

.post-meta b {
  font-weight: 500;
}

.post-title {
  color: #444;
  font-size: 20px;
}

.post-text {
  color: #7B7B7B;
}

.post-body-secondary {
  border-top: 1px solid #ECECEC;
}

/*BLOG CSS FOR POSTS*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
*{
  /* I know I could write "margin: 0; padding: 0;". But that's not performant. */

  line-height: 140%;

}
body, p, h1, h2{
  margin: 0;
  padding: 0;
}

mark {
  background-color: black;
  padding: 0px 3px;
} 

.wrapper{
  padding: 100px;
  margin: 0 0 50px 0;
  text-align: left;
  height: 40vh;
  /*background: url('https://cutewallpaper.org/21/cool-coding-backgrounds/Computer-Programming-Background-Quantum-Computing.png') no-repeat center center fixed;*/
  background-size: cover;
  transition: all 0.4s ease;
  opacity: .8;
}
.wrapperRight{
  padding: 100px;
  margin: 0 0 50px 0;
  text-align: right;
  height: 40vh;
  /*background: url('https://cutewallpaper.org/21/cool-coding-backgrounds/Computer-Programming-Background-Quantum-Computing.png') no-repeat center center fixed;*/
  background-size: cover;
  transition: all 0.4s ease;
  opacity: .8;
}
.articleText{
  margin: 0 10% 30px 20%; 
  width: 60%;
  max-width: 800px;
  padding-left: 30px;
  color: #606060;
  border-left: 1px solid #d6d6d6;

  transition: all 0.4s ease;
    
}
.introduction{
  margin-bottom: 20px;
}
.accountInfo{
  transition: all ease 0.5s;
  display: none;
  height: 420px;
  width: 250px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.accountInfo .header{
  background: url('https://source.unsplash.com/V6s1cmE39XM/250x250') no-repeat;
  height: 120px;
  width: 100%;
  padding: 20px 10px;
}

.accountInfo .profileText{
  text-align: center;
  margin-bottom: 20px;
}


@media only screen and (max-width: 1000px) {
    /* For tablets: */
  .articleText {
    margin: 0 10% 30px 10%; 
    width: 80%;
    max-width: 800px;
    padding-left: 0px;
    border: 0;
  }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  .articleText {
    margin: 0 5% 30px 5%; 
    width: 90%;
  }
  .wrapper{
    padding: 5%;
  }
}
/*END BLOG CSS*/

/*Contact Email button CSS*/

a:hover i {
			transform: scale(2);
       color: #fff;
		}

.highlighted {
    color: #3a88fe;
}

.social-icon {
	background-color: #001b4d;
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	transition-duration: 0.14s;
    transition: 300ms;
    
}

.social-icon:hover {
	transform: scale(1.1);
	cursor: pointer;
	filter: brightness(1.2);
    background-color: #002d83;
}


.socials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-self: center;
	width: 80%;
}

.footer-text {
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
}
.website-button {
    background-color: #444444;
    padding: .5rem;
    border-radius: 20px;
    margin-top: .5rem;
    transition: 400ms;
    color: #ADD8E6;
}
.project-descriptions {
    margin-bottom: .8rem;
}
.website-button:hover {
        color: #7ce6e3;
    background-color: #333333;
}
.blog-image {
    max-width: 500px;
}

.ebuy-coffee {
    margin: 1rem;
}
.my-resume {
    float: right;
    margin-right: 1rem;
    padding:0;
    margin-top: .5rem;
}
.my-resume a {
    background-color: #4d798c;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    letter-spacing: 1.2px;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #001e57 #232323;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #232323;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #001e57;
    border-radius: 10px;
    border: 5px solid #001e57;
  }
