* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: black !important;
  color: white !important;
}

.tinted-bg {
  background-color: rgb(21, 20, 20) !important;
}

a {
  text-decoration: underline !important;
  transition: 100ms;
  text-decoration-style: wavy !important;
}

a:hover {
  text-decoration: none !important;
  background-color: black;
  color: white;
}

.icons {
  color: rgb(220, 220, 220);
  transition: 500ms !important;
}



.project-link {
  margin-left: 7px;
  margin-bottom: -2px;
}



.post-card {
  border-top: 1px solid rgb(139, 139, 143);
}