* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');


html {
  font-family: Urbanist, sans-serif !important;
}
body {
  background-color: black !important;
  color: white !important;
  padding: 0;
  margin: 0;
  font-family: Urbanist, sans-serif !important;
}

.tinted-bg {
  background-color: rgb(21, 20, 20) !important;
}

a {
  text-decoration: underline !important;
  transition: 100ms;
}

a:hover {
  text-decoration: none !important;
}

.icons {
  color: rgb(220, 220, 220);
  transition: 500ms !important;
}

.project-link {
  margin-left: 7px;
  margin-bottom: -2px;
  font-size: 14px;
}

.post-card {
  border-top: 1px solid rgb(139, 139, 143);
}
.nav-link {
  margin-top: 5px;
  background: rgb(54, 54, 54);
  padding: 0 14px;
  text-decoration: none !important;
  border-radius: 8px;
  transition: 300ms;
}

.nav-icons {
  margin-top: 1px;
  font-size: 14px;
}
.grey-text {
  color: rgb(177, 175, 175) !important;
}
.blink_img {
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0; }
}



li::marker {

  color: rgb(88, 88, 88);
}

.inputs {
  background-color: black;
  border-radius: 5px;
  margin: 3rem;
  border: .5px solid white;
}